version: '3.8'

services:
  mongodb:
    image: mongo:8.0
    container_name: mongodb_container
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: carrera_db
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: